<!-- 目標を管理するところ-->
<div class="container">
  <div class="vh-100 bg-white d-flex flex-column align-items-center">
        <%= form_with model: @goal, class:"mt-5 col-10 " do |f|%>
          <div class="d-flex flex-column justify-content-center">
            <div>
            <div class="d-flex justify-content-between">
              <%= f.label :目標 , class: 'display-6'%>
                <div class="d-flex m-2">
                    <%= f.submit "目標の変更", class:"btn btn-primary"%>
                    <%= link_to '目標を削除する', goal_path(@goal),method: :delete, data: {confirm: "削除しますか？"},class:'btn btn-danger mx-2' %>
                    <% if @goal.reachgoal %>
                        <%= link_to '目標挑戦中に戻す', goal_path(@goal.id, goal: {reachgoal: false}), method: :put, class:"btn btn-primary mx-2" %>
                    <% else %>
                        <%= link_to '目標達成！', goal_path(@goal.id, goal: {reachgoal: true}), method: :put, class:"btn btn-primary ml-2"%>
                    <% end %>
                </div>
            </div>
            <%= f.text_field :text, class: 'form-control form-control-lg'%>
          </div>
            
        <% end %>
        <!-- サブゴールのを管理するところ　-->
      <div class="col-12 border-1 mt-5">
        <div class="d-flex align-items-center col-12 justify-content-between my-2">
          <h1 class="col-8"><strong>「<%= @goal.text %>」</strong>  を達成するためのサブゴールの一覧</h1>
          <%= link_to "サブゴールを追加する", new_goal_subgoal_path, class:"btn btn-primary m-2 col-3" %>
        </div>
        <% @subgoals.each do |subgoal| %>
          <div class="stream-item">
           <div class="d-flex align-items-center">
              <div class="goal-text my-3 mx-2 col-8 border p-2">
                <%= link_to subgoal.title, goal_subgoal_path(@goal,subgoal)%>  
              </div>
               <div class="d-flex justify-content-end col-3 ms-5">
                <%= link_to  "サブゴール管理画面へ", edit_goal_subgoal_path(@goal, subgoal), class:"btn btn-primary me-1" %>
                <%= link_to '削除', goal_subgoal_path(@goal, subgoal),method: :delete, data: {confirm: "削除しますか？"},class:'btn btn-danger' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>