<div class="d-flex container vh-100">
    <div class="col-12 goalist h-50 bg-white">
      <div class="d-flex align-items-center justify-content-center border p-4">
        <h1 class="display-6 m-3 col-8">達成したい目標</h1>
        <%= link_to "目標を追加しましょう", new_goal_path, class:"btn btn-primary m-3 col-2" %>
      </div>

      <div class="">
        <% @goals.each_with_index do |goal, index| %>
          <div class="stream-item">
           <div class="d-flex align-items-center justify-content-center">
              <div class="my-4 p-2 col-8">
                <h1 class="goal-text">
                  <span class="goal-index me-3 fs-3"><%= "第#{index+1}目標"%></span>
                  <span class="fs-4"><%= "・#{safe_join(goal.text.split("\n"), tag(:br))}"%></span>
                </h1>
              </div>
              
              <div class="col-2">
                <%= link_to  "目標の詳細管理へ", goal_subgoals_path(goal.id), class:"btn btn-primary" %>
              </div>
              <div class="reachgoal?">
                <% if goal.reachgoal %>
                <%= "目標達成!" %>
               <% end %> 
             </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
