<div class="d-flex container vh-100">
    <div class="goalist col-9  h-50 bg-white">
      <div class="d-flex align-items-center justify-content-between border">
        <h1 class="m-3">目標を管理する</h1>
        <%= link_to "目標を追加する", new_goal_path, class:"btn btn-primary m-3" %>
      </div>
        <% @goals.each do |goal| %>
          <div class="stream-item">
           <div class="content d-flex align-items-center">
              <div class="goal-text my-4 mx-2 col-7 border-1 p-2">
                <%= safe_join(goal.text.split("\n"), tag(:br)) %>
                
              </div>
              <div class="goaleditlink mx-2 col-2">
                <%= link_to  "目標詳細画面へ", edit_goal_path(goal.id), class:"btn btn-primary" %>
              </div>
              
              <div class="goaleditlink mx-2 col-3">
                <%= link_to  "サブゴール登録画面へ", goal_subgoals_path(goal.id), class:"btn btn-primary" %>
              </div>
              <div class="reachgoal?">
                <% if goal.reachgoal %>
                <%= "目標達成!" %>
               <% end %> 
             </div>
            </div>
          </div>
        <% end %>
    </div>

  <div class="col-4 d-flex flex-column justify-content-center align-items-center">
    <p class="col-6">checkdaysの使い方</p>
    <p class="col-6">カレンダー予定地</p>
  </div>
</div>
