<!DOCTYPE html>
<html>
  <head>
    <title>Checkdays</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
    <% end %>
    <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
    <% end %>

    <nav class="global-nav">
      <div class="container">
        <div class="navigation">
          <ul class="left-actions">
            <li class="nav-item">
              <%= link_to "ホーム", root_path, class: "nav-link" %>
            </li>
          </ul>
          <ul class="right-actions">
            <li class="nav-item">
              <%= link_to "ツイート", "#", class: "btn btn-primary tweet-btn" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% end %>
   
      
    <%= yield %>
  </body>
</html>
