<!DOCTYPE html>
<html>
  <head>
    <title>Checkdays</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>


    <div class="header d-flex container-fluid justify-content-between">
      <div class="d-flex justify-content-start">
        <%= image_tag "logo_middle.png", class: "img" %>
      </div>

      <div class="d-flex justify-content-end">  
        <nav class="global-nav d-flex container-fluid align-items-center">
            <div class="navigation" >
              <ul class="left-action  d-flex">
                <li class="nav-item mx-1">
                  <%= link_to "ホーム", root_path, class:'link' %>
                </li>

                <% if user_signed_in? %>
                  <li class="nav-item mx-1">
                    <%= link_to "プロフィール編集", edit_user_registration_path, class:'link'%>
                  </li>
                  <li class="nav-item mx-1">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:'link' %>
                  </li>
                <% end %>
              </ul>
            </div>
        </nav>
      </div>
    </div>


    <%= yield %>
  </body>
</html>
